table{
    border: 1px solid #263228 ;
    width: 50%;
}
.title{
    color: #263228;
    font-size: 18px;
    font-weight: bold;
}
thead{
    background-color:#455a64 ;
    color: white;
    font-weight: 700;
}
.odd{
background-color:#eceff1 ;
}
.even{
    background-color:#b0bec5;
}
tfoot > tr{
    background-color:#78909c;
    font-weight: 800;
}
.uno{

}
.due{
color:#003300;
text-align: right;
}
.tre{
color:#7f0000;
text-align: right;
}